.pokemon{
    /* border-radius: 10em !important; */
  background: rgb(24, 198, 131) none repeat scroll 0% 0% !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
  color: #fff !important;
  text-shadow: none;
  padding: 5px 20px;
  font-weight: bold;
  transition: transform 0.2s ease 0s;
}

.pokemon img{
    border-radius: 10em !important;
    background: white !important;
    padding: 0px 0px;

}
/* 
.pokemon :hover {
    transform: scale(1.3) !important;
  color: #fff;
  text-shadow: none;
} */
.cardPokemon{
  
  margin-top:45px !important;  
  transition: transform 0.2s ease 0s;
}

.cardPokemon:hover{
    transform: scale(1.2) !important;
  color: #fff;
  text-shadow: none;
}